package ${filePackage};

import com.duowan.common.crud.BaseService;
import com.duowan.${projectNameInPackage}.model.${entityName};

public interface ${className} extends BaseService<${entityName},Long>{

}