@charset "utf-8";
/* CSS Document */
/*****遮盖层*****/
#mask {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 30000;
	width: 100%;
	height: 100%;
	background-color: #000000;
	zoom: 1;
	-moz-opacity: 0.7;
	opacity: 0.7;
	filter: alpha(opacity =     70);
}
/*****弹出框*****/
.popup-box {
	position: fixed;
	_position: absolute;
	z-index: 30001;
}

.popup-box .popup-box-close-btn {
	position: absolute;
	top: 1px;
	right: 3px;
	color: #fff;
	font-size: 13px;
	display: block;
	padding: 3px 5px;
	cursor: pointer;
}

.popup-box .popup-box-close-btn:hover {
	color: #005AD1;
	text-decoration: none;
}

.popup-box h3.popup-box-title {
	margin: 0;
	background-color: #DA5200;
	font: 15px "microsoft yahei";
	color: #fff;
	padding: 5px 0 3px 20px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.popup-box .popup-box-content {
	margin: 0;
	background-color: #DEE6F0;
	text-align: center;
	padding: 15px;
	font-size: 14px;
	line-height: 25px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.showerror,.showLoading,.showattention,.showinformation,.showsuccess,.showdefault
	{
	line-height: 24px;
	padding: 10px 40px;
	font-size: 15px;
	font-weight: bold;
	border: #999 solid 3px;
	background: no-repeat 22px center;
}

.showLoading {
	border: #999 solid 3px;
	background: #fff url(../images/busy.gif) no-repeat 22px center;
}

.showerror {
	background-color: #ffcece;
	background-image: url('../images/icons/cross_circle.png');
	border-color: #df8f8f;
	color: #665252;
}

.showattention {
	background-color: #fffbcc;
	background-image: url('../images/icons/exclamation.png');
	border-color: #e6db55;
	color: #666452;
}

.showinformation {
	background-color: #dbe3ff;
	background-image: url('../images/icons/information.png');
	border-color: #a2b4ee;
	color: #585b66;
}

.showsuccess {
	background-color: #d5ffce;
	background-image: url('../images/icons/tick_circle.png');
	border-color: #9adf8f;
	color: #556652;
}

.showdefault {
	border: #999 solid 3px;
	background: #fff;
	padding: 0;
}

.showdefault h3 {
	padding: 5px;
	line-height: 24px;
	font-size: 14px;
	border-bottom: #999 solid 3px;
	position: relative;
}

.showdefault h3 a {
	display: block;
	background: url(../images/icons/cross.png) no-repeat;
	width: 16px;
	height: 16px;
	overflow: hidden;
	position: absolute;
	top: 10px;
	right: 8px;
	text-indent: -999px;
	cursor: pointer;
}

.showdefault .popUpContent {
	padding: 15px;
}
/*body*/
.datacontent,#tisbox {
	display: none;
}

.tab-content {
	width: 100%;
	overflow: hidden;
}

.Half {
	width: 50%;
	float: left;
}

.three {
	width: 33%;
	float: left;
}

.dataTable {
	width: 100%;
	clear: both;
	overflow: hidden;
	padding: 10px 0 30px 0;
	overflow-x: auto;
}

.dataTable table {
	width: 100%;
	border-collapse: collapse;
}

.dataTable table thead th {
	font-weight: bold;
	font-size: 12px;
	border-bottom: 1px solid #ddd;
	vertical-align: middle;
	text-align: center;
}

.dataTable tbody {
	border-bottom: 1px solid #ddd;
}

.dataTable tbody tr {
	background: #fff;
}

.dataTable tbody tr.alt-row {
	background: #f3f3f3;
}

.dataTable table td,.dataTable table th {
	padding: 8px;
	line-height: 1.3em;
	white-space: nowrap;
	border: #ccc solid 1px;
}

.dataTable table tfoot td .bulk-actions {
	padding: 15px 0 5px 0;
}

.dataTable table tfoot td .bulk-actions select {
	padding: 4px;
	border: 1px solid #ccc;
}

.dataTable table td.operation {
	text-align: center;
}

.dataTable table td.operation a {
	padding: 0 6px;
}

#datetime,#endtime,#insert_activeTime,#insert_expireTime,#edit_activeTime,#edit_expireTime
	{
	background: #fff url(../js/My97DatePicker/skin/datePicker.gif) no-repeat
		right;
}

#cash {
	display: none;
}

.big {
	text-align: center;
	vertical-align: middle;
	font-size: 16px;
}

#content {
	min-height: 600px;
	_height: 600px;
	position: relative;
}

.shortcut-buttons-set {
	width: 100%;
	overflow: hidden;
}

#content .loading {
	background: url(../images/loading.gif) no-repeat center;
	width: 100px;
	height: 100px;
	position: absolute;
	margin: -50px;
	top: 50%;
	left: 50%;
}

.sub {
	text-align: center;
}

#main-content .pagination {
	width: 650px;
	overflow: hidden;
	float: right;
	line-height: 22px;
}

#main-content .pagination a,#main-content .pagination span {
	float: left;
	padding: 0 4px;
	margin: 0;
}

#main-content .pagination b {
	color: #fc0;
}

#form .error {
	background: none;
}

#addForm .error {
	background: none;
}

#fileForm .error {
	background: none;
}

#insertForm .error {
	background: none;
}

#sendForm .error {
	background: none;
}

.boxyTable {
	width: 100%;
	clear: both;
	padding: 10px 0 30px 0
}

.boxyTable table {
	width: 100%;
	border-collapse: collapse;
}

.boxyTable table tr {
	padding: 8px;
	line-height: 1.3em;
	white-space: nowrap;
	border: #ccc solid 1px;
	width: 100%;
}

.boxyTable table tr .bar {
	TEXT-ALIGN: right;
	width: 50%;
	border: #ccc solid 1px;
}

.boxyTable table tr .bal {
	TEXT-ALIGN: left;
	width: 50%;
	border: #ccc solid 1px;
}

.blockMsg {
	font-size: 16px;
}

.blockMsg img {
	width: 150px;
}

#logo_gameName {
	display: block;
	width: 100%;
	font-size: 14px;
	text-align: center;
	color: #6fb100;
	margin-bottom: 10px;
	line-height: 20px;
}